.section__heading {
    font-size: 3rem;
    // margin-top: 3rem ;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.section__subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 3rem;
    color: rgba(88, 84, 84, 70%);
}
    